UsersSOAPService/Service Descriptors/UsersService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/UsersService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersService" targetNamespace="http://www.tibco.com/UsersService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/UsersService/">
      <xsd:element name="AddUser">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="UserName" type="xsd:string" />
          	<xsd:element name="UserStatus" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="UserId" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="UserName" type="xsd:string"></xsd:element>
      			<xsd:element name="UserStatus" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddUserRequest">
    <wsdl:part element="tns:AddUser" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddUserResponse">
    <wsdl:part element="tns:AddUserResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetUserRequest">
  	<wsdl:part name="parameters" element="tns:GetUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserResponse">
  	<wsdl:part name="parameters" element="tns:GetUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsersService">
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserRequest"/>
      <wsdl:output message="tns:AddUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
    	<wsdl:input message="tns:GetUserRequest"></wsdl:input>
    	<wsdl:output message="tns:GetUserResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersServiceSOAP" type="tns:UsersService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.tibco.com/UsersService/AddUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersService">
    <wsdl:port binding="tns:UsersServiceSOAP" name="UsersServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
